body {
    padding-top: 60px;
}
.target-active {
    border: 1px solid #f00;;
}
.target-hover {
    border: 1px solid #568c0a;
}
.target {
    min-height: 50px;
}
.ui-sortable-placeholder{
    border: 1px dotted #fff;
    padding: 30px 20px;
    position: relative;
    background: #f90;
}
.ui-draggable-dragging {
    background: #f00;
}
.ui-sortable-placeholder:after{
    content: "Place me here. Pretty Please  :3";
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    text-align: center;
}
.ui-sortable-helper {
    background: #f00;
}
.download-layout {
    display: none;
}