.select-list {}
.select-list li {
    float: left;
    width: 100px;
    height: 100px;
    background: #f00;
    border: 1px solid #008000;
}
.select-list li.ui-selected {
    color: #fff;
    background: #0000CC;
}